* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 75px auto 100px;
}

:root {
  font-size: 16px;
  --dark-text: #333;
  --light-text: #555;
}